// so that I can extend base.css
@import (less) "base.css";

// Header
header 
{
  padding: 1rem;
}

header a 
{
  color: white;
  text-decoration: inherit;
}

header .mode .mode-indicator
{
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1000px;
  float: left;
  margin: 2.15rem 2.15rem 0 0;
}

header .mode .mode-indicator.off
{
  //background-color: #fffba7;
}


// State

div.state-col:extend(.col-sm)
{
}

div.latent-action-col:extend(.col-sm)
{
}

div.live-action-col:extend(.col-sm)
{
}

li.spark-bal:extend(h3, .green)
{
}

div.row.body:extend(.text-700)
{
}

span#address:extend(.text-700)
{
}

span.ship-name
{
}

li.ship-list:extend(h3)
{
}

div.spark-action
{
  /* reset this to baseline */
  font-size: 3rem;
  line-height: 5rem;
}

.spark-action a
{
  &:extend(.blue);
}

div.row
{
  /* reset this to baseline */
  font-size: 3rem;
  line-height: 5rem;
  font-weight: initial
}

div.row.body
{
}


// ship action liquidate

.transaction .nav-back
{
  &:extend(.btn, .btn-tetiary);
}

.transaction input[type=text]
{
  &:extend(.gray-light-hl, .text-700);
}

.transaction .ship-name:extend(.blue)
{
}

.transaction .checkbox
{
  cursor: pointer;
  height: 6rem;
  width: 6rem;
  background-color: #d4d4d4;
}

.transaction .checkbox.checked
{
  background-color: #5b5b5b;
}

section.transaction-params .sub-title
{
  &:extend(.text-700);
}

.transaction .input-group {
  margin: 0px 0 2rem;
  height: 12rem;
}

.transaction .slim-input-group {
  height: 9rem;
}

button.disabled {
  pointer: initial;
} 



