<div id="allow-transfer" 
  class="col-md-12 transaction" 
  ng-init="loadAddresses(); shipName = $routeParams.p != 'offline' ? $routeParams.p : ''">
  <span class="address row text-700">
    {{ wallet.getAddressString() }}
  </span>
  <section class="general-information mb-8 mt-20">
    <h1 id="action-title row">Allow transfer</h1>
    <div class="help-text row mb-4">
      <p class="col-md-8">This transaction allows the given address to transfer ownership of this ship. This can be used to transfer a ship to a pool, which can then issue a token in return for a star. 
      </p>
      <p class="col-md-8 red" ng-show="offline">You are in offline mode. Please copy and paste the transaction below into an appropriate client.
      </p>
    </div>
    <div class="label-group">
      <h4 class="sub-title">Allow transfer of:</h4>
      <h2 class="ship-name monospace blue" ng-show="shipName != ''">
        {{ shipName[0] == '~' ? shipName : '~' + shipName }}
      </h2>
    </div>
  </section>
  <section class="transaction-params mb-8">
    <!-- show this offline -->
    <div ng-init="shipError = false" 
      ng-class="shipError ? 'error input-group mb-4' : 'input-group mb-4'" 
      ng-show="offline">
      <input sig type="text" 
        class="col-md-8 monospace" 
        ng-change="shipError = valShip(ob.toAddress(shipName))" 
        ng-model="shipName" 
        value="Star Name" 
        placeholder="ship">
      <div class="error-label">{{ shipName }} is not a ship</div>
    </div>
    <!-- /show this offline -->
    <div ng-init="addressError = false" ng-class="addressError ? 'error input-group mb-4' : 'input-group mb-4'">
      <input type="text" class="col-md-12 monospace" ng-change="addressError = valAddress(poolAddress)" ng-model="poolAddress" value="Address" placeholder="pool-address">
      <div class="error-label">Not a valid address</div>
    </div>
    <!-- show these offline -->
    <div class="offline-params" ng-show="offline">
      <div ng-init="gasLimitError = false" 
        ng-class="gasLimitError ? 'error input-group mb-4' : 'input-group mb-4'">
        <input type="text" 
          class="col-md-4" 
          ng-change="gasLimitError = tx.gasLimit > 3000000"
          ng-model="tx.gasLimit" 
          value="Gas Limit" 
          placeholder="gas-limit">
        <div class="error-label">{{ tx.gasLimit }} is too high</div>
      </div>
      <div ng-init="nonceError = false" 
        ng-class="nonceError ? 'error input-group mb-4' : 'input-group mb-4'">
        <input type="text" 
          class="col-md-4" 
          ng-model="nonceDec" 
          value="nonce" 
          placeholder="nonce">
      </div>
      <div ng-init="gasPriceError = false" 
        ng-class="gasPriceError ? 'error input-group mb-4' : 'input-group mb-4'">
        <input type="text" 
          class="col-md-4" 
          ng-model="gasPriceDec" 
          value="gasPrice" 
          placeholder="gas-price">
      </div>
    </div>
    <!-- /show these offline -->
    <div class="input-group mb-4 row">
      <div class="checkbox-container">
        <div ng-class="checked ? 'checkbox checked' : 'checkbox'" ng-click="checked = checked == true ? false : true"></div>
      </div>
      <label class="action-confirmation ml-4" ng-click="checked = checked == true ? false : true">Yes I am sure</label>
    </div>
    <button class="btn btn-tetiary" ng-click="path('state')" >&#8592 Back</button>
    <button ng-class="!loading && checked && !addressError && poolAddress ? 'btn btn-secondary' : 'btn disabled'" 
      ng-click="checked && !addressError && poolAddress ? doAllowTransferBy(ob.toAddress(shipName), poolAddress) : ''" >
      Create
    </button>
  </section>
  <section class="transaction-data" 
    ng-show="rawTx" 
    ng-init="sent = false">
    <h4>Raw Tx</h4>
    <div class="raw-tx row col-md-8 text-code tx input-group mb-4">
      {{ rawTx }}
    </div>
    <h4>Signed Tx</h4>
    <div class="signed-tx row col-md-8 text-code tx input-group mb-4">
      {{ signedTx }}
    </div>
    <button class="btn btn-tetiary" 
      ng-click="path('state')">
      &#8592 Back
    </button>
    <button ng-show="!offline" ng-init="sent = false"
      ng-class="!sent ? 'btn btn-primary' : 'btn disabled'"
      ng-click="sendTx(); sent = true">
      Send
    </button>
  </section>
</div>
