<div id="purchase" class="col-md-12 transaction" ng-init="loadAddresses();">
  <span id="address" class="row">{{ wallet.getAddressString() }}</span>
  <section class="general-information">
    <h1 id="action-title row">Purchase</h1>
    <div class="help-text row">
      <p class="col-md-8">One SPARK converts to one star. Your balance will be debited one SPARK and you will become the pilot of the star below.
      </p>
    </div>
  </section>
  <section class="transaction-params">
    <div class="label-group">
      <span class="sub-title text-700">Star to purchase:</span>
      <h2 class="ship-name">{{ $routeParams.p }}</h2>
    </div>
    <div class="input-group row slim-input-group">
      <div class="checkbox-container col-md-1">
        <div ng-class="checked ? 'checkbox checked' : 'checkbox'" ng-click="checked = checked == true ? false : true"></div>
      </div>
      <label class="action-confirmation">Yes I am sure</label>
    </div>
    <div ng-init="starError = false" ng-class="starError ? 'error input-group' : 'input-group'">
      <input type="text" class="gray-light-hl text-700" ng-change="starError = valStar(star)" ng-model="star" value="Star Name" placeholder="star">
      <div class="error-label">Ship {{ star }} is not a star</div>
    </div>
    <button ng-class="checked && !starError && star ? 'btn btn-secondary' : 'btn btn-tetiary disabled'" ng-click="doLiquidate(star)" >Create</button>
  </section>
  <section class="transaction-data" ng-show="rawTx">
    <pre class="raw-tx row col-md-8">
      {{ rawTx }}
    </pre>
    <pre class="signed-tx row col-md-8">
      {{ signedTx }}
    </pre>
    <button class="btn btn-primary" ng-click="sendTx()">Send</button>
    <button class="btn btn-tetiary" ng-click="path('state')" >&#8592 Back</button>
  </section>
</div>
