<div id=create-galaxy" class="row" ng-init="my_address = '0x6deffb0cafdb11d175f123f6891aa64f01c24f7d'; loadAddresses();">
  <span id="address" class="col-md-12">{{ wallet.getAddressString() }}</span>
  <section class="general-information col-md-12">
    <h1 id="action-title col-md-12">Create galaxy</h1>
    <div class="help-text col-md-12">
      <p> As the constitution owner, you can create a galaxy.
      </p>
    </div>
  </section>
  <section class="transaction">
    <!-- this section changes with transaction type -->
    <div class="input-group">
      <input type="text" class="gray-light-hl text-700" ng-model="galaxy" value="Galaxy Name" placeholder="galaxy">
      <div class="error-label row">Ship must belong to you</div>
    </div>
    <div class="input-group">
      <input type="text" class="gray-light-hl text-700" ng-model="address" value="Galaxy Name" placeholder="new-address">
      <div class="error-label row">Ship must belong to you</div>
    </div>
    <div class="input-group">
      <input type="text" class="gray-light-hl text-700" ng-model="locktime" value="Lock Time" placeholder="lock-time">
      <div class="error-label row">Ship must belong to you</div>
    </div>
    <div class="input-group">
      <input type="text" class="gray-light-hl text-700" ng-model="completetime" value="Complete Time" placeholder="complete-time">
      <pre class="error-label row">Ship must belong to you</div>
    </pre>
    <button class="btn btn-secondary" ng-click="doCreateGalaxy(galaxy, address, locktime, completetime)" >Create</button>
  </section>
  <section class="transaction-data">
    <pre class="raw-tx">
      {{ rawTx }}
    </pre>
    <pre class="signed-tx">
      {{ signedTx }}
    </pre>
    <button class="btn btn-primary" ng-click="sendTx()">Send</button>
    <button class="btn btn-tetiary" ng-click="path('state')" >&#8592 Back</button>
  </section>
</div>
