<div id=create-galaxy" class="col-md-12 transaction" ng-init="loadAddresses();">
  <span class="address row">{{ wallet.getAddressString() }}</span>
  <!-- GENERAL INFORMATION ABOUT TRANSACTION -->
  <section class="general-information">
    <h1 id="action-title row">Create galaxy</h1>
    <div class="help-text row">
      <p class="col-md-8"> As the constitution owner, you can create a galaxy.
      </p>
    </div>
  </section>
  <!-- TRANSACTION PARAMS -->
  <section class="transaction-params">
    <!-- this section changes with transaction type -->
    <div ng-init="galaxyError = false" ng-class="galaxyError ? 'error input-group' : 'input-group'">
      <input type="text" class="gray-light-hl text-700 col-md-4" ng-change="galaxyError = valGalaxy(galaxy)" ng-model="galaxy" value="Galaxy Name" placeholder="galaxy">
      <div class="error-label">Ship {{ galaxy }} is not a galaxy</div>
    </div>
    <div ng-init="addressError = false" ng-class="addressError ? 'error input-group' : 'input-group'">
      <input type="text" class="gray-light-hl text-700 col-md-12 text-code" ng-change="addressError = valAddress(address)" ng-model="address" value="Galaxy Name" placeholder="new-address">
      <div class="error-label">Not a valid address</div>
    </div>
    <div ng-init="lockTimeError = false" ng-class="lockTimeError ? 'error input-group' : 'input-group'">
      <input type="text" class="gray-light-hl text-700 col-md-4" ng-change="lockTimeError = valTimestamp(locktime)" ng-model="locktime" value="Lock Time" placeholder="lock-time">
      <div class="error-label">Lock time must be positive</div>
    </div>
    <div ng-init="completeTimeError = false" ng-class="completeTimeError ? 'error input-group' : 'input-group'">
      <input type="text" class="gray-light-hl text-700 col-md-4" ng-change="completeTimeError = valTimestamp(completetime)" ng-model="completetime" value="Complete Time" placeholder="complete-time">
      <div class="error-label">Complete time must be positive</div>
    </div>
    <!--
    <button ng-class="btn btn-secondary" ng-click="doCreateGalaxy(galaxy, address, locktime, completetime)" >Create</button>
    -->
    <button class="btn btn-tetiary" ng-click="path('state')" >&#8592 Back</button>
    <button ng-class="!galaxyError && galaxy && !addressError && address && !lockTimeError && locktime && !completeTimeError && completetime ? 'btn btn-secondary': 'btn btn-tetiary disabled'" 
      ng-click="!galaxyError && galaxy && !addressError && address && !lockTimeError && locktime && !completeTimeError && completetime ? doCreateGalaxy(galaxy, address, locktime, completetime): ''">
      Create
    </button>
  </section>
  <!-- RAW AND SIGNED TRANSACTIONS-->
  <section class="transaction-data" ng-show="rawTx" ng-init="sent = false">
    <label>Raw Tx</label>
    <div class="raw-tx row col-md-8 text-code tx">
      {{ rawTx }}
    </div>
    <label>Signed Tx</label>
    <div class="signed-tx row col-md-8 text-code tx">
      {{ signedTx }}
    </div>
    <button class="btn btn-primary" ng-click="sendTx()">Send</button>
    <button class="btn btn-tetiary" ng-click="path('state'); sent = true" >&#8592 Back</button>
  </section>
</div>
