<div id="launch" 
  class="col-md-12 transaction" 
  ng-init="loadAddresses(); shipName = $routeParams.p != 'offline' ? $routeParams.p : ''">
  <span class="address row text-700">
    {{ wallet.getAddressString() }}
  </span>
  <section class="general-information mb-8 mt-20">
    <h1 id="action-title row">Launch</h1>
    <div class="help-text row">
      <p class="col-md-8">In order to launch a ship, the ship must be latent and you must be the owner of the ship's parent. "Locktime" is the number of seconds until the ship can be unlocked. Input <code>0</code> to make the ship available immediately.
      </p>
      <p class="col-md-8 red" ng-show="offline">You are in offline mode. Please copy and paste the transaction below into an appropriate client.
      </p>
    </div>
    <div class="label-group">
      <h4 class="sub-title text-700">Ship to launch:</h4>
      <h2 class="ship-name blue monospace mt-0" ng-show="ship">{{ formatShipName(ship) }}</h2>
    </div>
  </section>
  <section class="transaction-params mb-8">
    <div ng-init="shipError = false" 
      ng-class="shipError ? 'error input-group mb-4' : 'input-group mb-4'">
      <input type="text" 
        ng-class="isState ? 'confirmed col-md-8' : 'col-md-8'" 
        ng-change="shipError = valShip(ob.toAddress(ship)); isState = false" 
        ng-model="ship" 
        value="Star Name" 
        placeholder="ship">
    </div>
    <!-- show this offline -->
    <div ng-init="shipError = false" 
      ng-class="shipError ? 'error input-group mb-4' : 'input-group mb-4'" 
      ng-show="offline">
      <input type="text" 
        class="col-md-8 monospace" 
        ng-change="shipError = valShip(ob.toAddress(shipName))" 
        ng-model="shipName" 
        value="Star Name" 
        placeholder="parent-ship">
      <div class="error-label">{{ shipName }} is not a ship</div>
    </div>
    <!-- /show this offline -->
    <div class="input-group mb-4">
      <button class="btn btn-primary" ng-click="ship = toShipName(getChildCandidate(ob.toAddress(shipName))); isState = false">Suggest valid ship</button>
      <button ng-show="!offline" ng-class="isState || !ship ? 'btn disabled' : 'btn btn-secondary'" ng-click="readIsState(ob.toAddress(ship), 0)">Confirm availability</button>
    </div>
    <div ng-init="addressError = false" ng-class="addressError ? 'error input-group mb-4' : 'input-group mb-4'">
      <input type="text" class="col-md-12 monospace" ng-change="addressError = valAddress(address)" ng-model="address" value="Address" placeholder="new-address">
      <div class="error-label">Not a valid address</div>
    </div>
    <div ng-init="lockTimeError = false" ng-class="lockTimeError ? 'error input-group mb-4' : 'input-group mb-4'">
      <input type="text" class="col-md-4 monospace" ng-change="lockTimeError = valTimestamp(locktime)" ng-model="locktime" value="Lock Time" placeholder="lock-time">
      <div class="error-label">Lock time must be positive</div>
    </div>
    <!-- show these offline -->
    <div class="offline-params" ng-show="offline">
      <div ng-init="gasLimitError = false" 
        ng-class="gasLimitError ? 'error input-group mb-4' : 'input-group mb-4'">
        <input type="text" 
          class="col-md-4" 
          ng-change="gasLimitError = tx.gasLimit > 3000000"
          ng-model="tx.gasLimit" 
          value="Gas Limit" 
          placeholder="gas-limit">
        <div class="error-label">{{ tx.gasLimit }} is too high</div>
      </div>
      <div ng-init="nonceError = false" 
        ng-class="nonceError ? 'error input-group mb-4' : 'input-group mb-4'">
        <input type="text" 
          class="col-md-4" 
          ng-model="nonceDec" 
          value="nonce" 
          placeholder="nonce">
      </div>
      <div ng-init="gasPriceError = false" 
        ng-class="gasPriceError ? 'error input-group mb-4' : 'input-group mb-4'">
        <input type="text" 
          class="col-md-4" 
          ng-model="gasPriceDec" 
          value="gasPrice" 
          placeholder="gas-price">
      </div>
    </div>
    <!-- /show these offline -->
    <div class="input-group mb-4 row">
      <div class="checkbox-container">
        <div ng-class="checked ? 'checkbox checked' : 'checkbox'" 
          ng-click="checked = checked == true ? false : true">
        </div>
      </div>
      <label class="action-confirmation ml-4">Yes I am sure</label>
    </div>
    <button class="btn btn-tetiary" ng-click="path('state')" >&#8592 Back</button>
    <button ng-class="!loading && checked && !shipError && ship && !addressError && address &&  !lockTimeError && locktime? 'btn btn-secondary' : 'btn btn-tetiary disabled'" 
      ng-click="checked && !shipError && ship && !addressError && address &&  !lockTimeError && locktime ? doLaunch(ob.toAddress(ship), address): ''">
      Create
    </button>
  </section>
  <section class="transaction-data" 
    ng-show="rawTx" 
    ng-init="sent = false">
    <h4>Raw Tx</h4>
    <div class="raw-tx row col-md-8 text-code tx input-group mb-4">
      {{ rawTx }}
    </div>
    <h4>Signed Tx</h4>
    <div class="signed-tx row col-md-8 text-code tx input-group mb-4">
      {{ signedTx }}
    </div>
    <button class="btn btn-tetiary" 
      ng-click="path('state')">
      &#8592 Back
    </button>
    <button ng-show="!offline" ng-init="sent = false"
      ng-class="!sent ? 'btn btn-primary' : 'btn disabled'"
      ng-click="sendTx(); sent = true">
      Send
    </button>
  </section>
</div>
