<div id="start" class="col-md-12 transaction" ng-init="loadAddresses();">
  <span id="address" class="row">{{ wallet.getAddressString() }}</span>
  <section class="general-information">
    <h1 id="action-title row">Start</h1>
    <div class="help-text row">
      <p class="col-md-8">Starting a ship will bring it to life and allow you to set its public key. Please remember that the ship's release time must be in the past. Once you've done this, your ship will be living and your public key will be set.
      </p>
    </div>
  </section>
  <section class="transaction-params">
    <div class="label-group">
      <span class="sub-title text-700">Ship to start:</span>
      <h2 class="ship-name">{{ $routeParams.p }}</h2>
    </div>
    <div class="input-group row slim-input-group">
      <div class="checkbox-container col-md-1">
        <div ng-class="checked ? 'checkbox checked' : 'checkbox'" ng-click="checked = checked == true ? false : true"></div>
      </div>
      <label class="action-confirmation">Yes I am sure</label>
    </div>
    <!--
    <div ng-init="shipError = false" ng-class="shipError ? 'error input-group' : 'input-group'">
      <input type="text" class="gray-light-hl text-700" ng-change="shipError = valShip(ship)" ng-model="ship" value="Star Name" placeholder="ship">
      <div class="error-label">{{ ship }} is not a ship</div>
    </div>
    -->
    <div ng-init="keyError = false" ng-class="keyError ? 'error input-group' : 'input-group'">
      <!--
      <input type="text" class="gray-light-hl text-700" ng-change="keyError = valStar(key)" ng-model="key" value="Star Name" placeholder="key">
      -->
      <input type="text" class="gray-light-hl text-700" ng-model="key" placeholder="public-key">
      <div class="error-label">Key has to be an alphanumeric string</div>
    </div>
    <button class="btn btn-tetiary" ng-click="path('state')" >&#8592 Back</button>
    <button ng-class="checked && key ? 'btn btn-secondary' : 'btn btn-tetiary disabled'" 
      ng-click="checked && key ? doStart(ob.toAddress($routeParams.p), key) : ''" >
      Create
    </button>
  </section>
  <section class="transaction-data" ng-show="rawTx" ng-init="sent = false">
    <label>Raw Tx</label>
    <div class="raw-tx row col-md-8 text-code tx">
      {{ rawTx }}
    </div>
    <label>Signed Tx</label>
    <div class="signed-tx row col-md-8 text-code tx">
      {{ signedTx }}
    </div>
    <button class="btn btn-tetiary" ng-click="path('state')" >&#8592 Back</button>
    <button ng-show="!sent" class="btn btn-primary" ng-click="sendTx(); sent = true;">Send</button>
  </section>
</div>
