<div 
    ng-init="ships = [{ name: '~wacten', state: 'Latent'}, { name: '~marlur', state: 'Latent'}]; loadAddresses(); readOwnedShips();">
    <span id="address">{{ wallet.getAddressString() }}</span>
    {{ ownedShips }}
    <section class="how-to">
        <h1>Your Urbit Wallet</h1>
        <ul>
            <li>
            <a href='#'>How to use this</a>
            </li>
        </ul>
    </section>
    <section class="balance">
        <h2>Balance:</h2>
        <ul>
            <li class="spark-bal" ng-init="unit = spark_total > 1 ? 'Sparks' : 'Spark'">
                {{ spark_total }} {{ unit }}
                <div class="spark-action">
                    <a href="#">Claim a star</a>
                </div>
            </li>
        </ul>
    </section>
    <section class="ships">
        <h2>Ships:</h2>
        <ul>
            <li ng-repeat="ship in ships" class="ship-list">
                <span class="ship-name">{{ ship.name }}</span>
                <div class="ship-actions">
                    <div class="row head">
                        <div class="state-col">
                            State:
                        </div>
                        <div class="latent-action-col">
                            Action:
                        </div>
                        <div class="live-action-col">
                        </div>
                    </div>
                    <div class="row body">
                        <div class="state-col">
                            {{ ship.state }}
                        </div>
                        <div class="latent-action-col">
                            <a class="blue" ng-href="state/{{ ship.name }}/liquidate">Liquidate</a>
                        </div>
                        <div class="live-action-col">
                            <a href='#'>Transfer</a>
                        </div>
                    </div>
                    <div class="row body">
                        <div class="state-col">
                        </div>
                        <div class="latent-action-col">
                            <a class="blue" href='#'>Start</a>
                        </div>
                        <div class="live-action-col">
                            <a href='#'>Rekey</a>
                        </div>
                    </div>
                    <div class="row body">
                        <div class="state-col">
                        </div>
                        <div class="latent-action-col">
                            <a class="blue" href='#'>Launch</a>
                        </div>
                        <div class="live-action-col">
                            <a href='#'>Escape</a>
                        </div>
                    </div>
                    <div class="row body">
                        <div class="state-col">
                        </div>
                        <div class="latent-action-col">
                            <a class="blue" href='#'>Grant</a>
                        </div>
                        <div class="live-action-col">
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </section>
</div>
