<div id="vote" 
  class="col-md-12 transaction" 
  ng-init="loadAddresses(); shipName = $routeParams.p != 'offline' ? $routeParams.p : ''">
  <span class="address row text-700">
    {{ wallet.getAddressString() }}
  </span>
  <section class="general-information">
    <h1 id="action-title row">Vote</h1>
    <div class="help-text row">
      <p class="col-md-8">You have one vote per galaxy owned. If you would like to vote on an abstract proposal, check the appropriate box and enter the proposal hash. To vote on a new constitution contract, enter the new proposed constitution address and your vote. Once a concrete constitution attains a majority vote, ownership of all data contracts is transferred to the proposed address and the current Constitution is destroyed.
      </p>
      <p class="col-md-8 red" ng-show="offline">You are in offline mode. Please copy and paste the transaction below into an appropriate client.
      </p>
    </div>
  </section>
  <section class="transaction-params">
    <div class="label-group">
      <span class="sub-title text-700">Vote on behalf of:</span>
      <h2 class="ship-name blue" ng-show="shipName != ''">
        {{ shipName[0] == '~' ? shipName : '~' + shipName }}
      </h2>
    </div>
    <div class="button-group slim-input-group input-group toggle-group" ng-init="concrete=true">
      <button ng-class="concrete ? 'btn btn-sm btn-primary' : 'btn btn-sm'" ng-click="concrete = !concrete">Concrete</button>
      <button ng-class="!concrete ? 'btn btn-sm btn-primary' : 'btn btn-sm'" ng-click="concrete = !concrete">Abstract</button>
    </div>
    <div class="button-group slim-input-group input-group toggle-group" ng-init="voteYes=false">
      <button ng-class="voteYes ? 'btn btn-sm btn-secondary' : 'btn btn-sm'" ng-click="voteYes = !voteYes">Concrete</button>
      <button ng-class="!voteYes ? 'btn btn-sm btn-warning' : 'btn btn-sm'" ng-click="voteYes = !voteYes">Abstract</button>
    </div>
    <div ng-init="addressError = false" ng-class="addressError ? 'error input-group' : 'input-group'" ng-show="concrete">
      <input type="text" class="gray-light-hl text-700 col-md-12 text-code" ng-change="addressError = valAddress(address)" ng-model="address" value="Address" placeholder="constitution-address">
      <div class="error-label">Not a valid address</div>
    </div>
    <div ng-init="hashError = false" ng-class="hashError ? 'error input-group' : 'input-group'" ng-show="!concrete">
      <input type="text" class="gray-light-hl text-700 col-md-12 text-code" ng-change="" ng-model="hash" value="Address" placeholder="proposal-hash">
      <div class="error-label">Not a valid hash</div>
    </div>
    <div>
    </div>
    <button class="btn btn-tetiary" ng-click="path('state')" >&#8592 Back</button>
    <button ng-class="(address || hash) ? 'btn btn-secondary' : 'btn btn-tetiary disabled'" 
      ng-click="(address || hash) ? concrete ? doCastConcreteVote(ob.toAddress(shipName), address, voteYes) : doCastAbstractVote(ob.toAddress(shipName), hash, voteYes) : ''" >
      Create
    </button>
  </section>
  <section class="transaction-data" ng-show="rawTx" ng-init="sent = false">
    <label>Raw Tx</label>
    <div class="raw-tx row col-md-8 text-code tx">
      {{ rawTx }}
    </div>
    <label>Signed Tx</label>
    <div class="signed-tx row col-md-8 text-code tx">
      {{ signedTx }}
    </div>
    <button class="btn btn-tetiary" ng-click="path('state')" >&#8592 Back</button>
    <button ng-show="!sent && !offline" 
      class="btn btn-primary" 
      ng-click="sendTx(); sent = true;">
      Send
    </button>
  </section>
</div>
